<app-page-title-bar
  [title]="this.pageTitle"
  (onAddEvent)="this.showAddCategoryForm()"
></app-page-title-bar>

<div class="main-content">
  <ng-container *ngIf="showTable()">
    <app-table
      [tableEnabled]="!editFormEnabled"
      [headerVisible]="false"
      [entities$]="this.categories$"
      [columns]="this.displayedColumns"
      (onEditEntityEvent)="this.showEditCategoryForm($event)"
      (onDeleteEntityEvent)="this.deleteCategory($event)"
    ></app-table>
  </ng-container>

  <ng-container *ngIf="addFormEnabled"
    ><app-cu-form
      [formControlDescriptors]="addFormControlDescriptors"
      [submitButtonText]="'Inserisci'"
      (submitFormEvent)="addCategory($event)"
      (cancelFormEvent)="onCancelAddForm()"
    ></app-cu-form
  ></ng-container>

  <ng-container *ngIf="editFormEnabled"
    ><app-cu-form
      [formControlDescriptors]="editFormControlDescriptors"
      [submitButtonText]="'Modifica'"
      (submitFormEvent)="editCategory($event)"
      (cancelFormEvent)="onCancelEditForm()"
    ></app-cu-form
  ></ng-container>
</div>
