<div class="form" [ngClass]="{'larger-screen': this.isScreenMoreThanSmall}">
  <ng-container *ngFor="let detailsViewDescriptor of detailsViewDescriptors">
    <span class="subtitle">{{ detailsViewDescriptor.label | uppercase }}</span>
    <ng-container
      *ngIf="
        !detailsViewDescriptor.hidden && detailsViewDescriptor.type === 'Text' && detailsViewDescriptor.value
      "
    >
      <div class="view">{{ detailsViewDescriptor.value | uppercase}}</div>
    </ng-container>

    <ng-container
      *ngIf="
        !detailsViewDescriptor.hidden && detailsViewDescriptor.type === 'Date' && detailsViewDescriptor.value
      "
    >
      <div class="view">{{ detailsViewDescriptor.value | date: detailsViewDescriptor.dateFormat? detailsViewDescriptor.dateFormat : "dd/MM/yyyy"}}</div>
    </ng-container>

    <ng-container
      *ngIf="
        !detailsViewDescriptor.hidden && detailsViewDescriptor.type === 'Currency' && detailsViewDescriptor.value
      "
    >
      <div class="view">{{ detailsViewDescriptor.value | currency: detailsViewDescriptor.currencySymbol? detailsViewDescriptor.currencySymbol : "EUR"}}</div>
    </ng-container>
  </ng-container>

  <button
  *ngIf="backButtonEnabled"
    mat-raised-button
    color="primary"
    (click)="onBackEvent()"
  >
    {{ backButtonText }}
  </button>

</div>
