<form *ngIf="editFormEnabled" [formGroup]="form">
  <ng-container *ngFor="let formControlDescriptor of formControlDescriptors">
    <mat-form-field appearance="outline">
      <!-- <mat-label>{{ formControl.formControlName }}</mat-label> -->
      <input
        matInput
        type="text"
        formControlName="{{ formControlDescriptor.formControlName}}"
        [disabled]="formControlDescriptor.formControl.disabled"
      />
    </mat-form-field>
  </ng-container>
  <!-- <mat-form-field appearance="outline" *ngIf="selectIconEnabled">
    <mat-label>Icona</mat-label>
    <mat-select name="iconUrl" formControlName="iconUrl">
      <mat-option *ngFor="let icon of iconUrls" [value]="icon">
        <img class="image" matListItemAvatar [src]="icon" alt="icon" />
        <p class="text">{{ getIconLabel(icon) }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</form>
