<app-page-title-bar
  [title]="this.pageTitle"
  (onAddEvent)="this.showAddMovementForm()"
></app-page-title-bar>

<div class="main-content">
  <ng-container *ngIf="showTable()">
    <!-- <app-table
      [tableEnabled]="!editFormEnabled"
      [headerVisible]="false"
      [entities$]="this.movements$"
      [columns]="this.displayedColumns"
      (onEditEntityEvent)="this.showEditMovementForm($event)"
      (onDeleteEntityEvent)="this.deleteMovement($event)"
    ></app-table> -->
    <app-r-table
      [headerVisible]="false"
      [entities$]="this.movements$"
      [columns]="this.displayedColumns"
      (onEditEntityEvent)="this.showEditMovementForm($event)"
      (onDeleteEntityEvent)="this.deleteMovement($event)"
    ></app-r-table>
  </ng-container>

  <ng-container *ngIf="addFormEnabled"
    ><app-cu-form
      [formControlDescriptors]="addFormControlDescriptors"
      [submitButtonText]="'Inserisci'"
      (submitFormEvent)="addMovement($event)"
      (cancelFormEvent)="onCancelAddForm()"
    ></app-cu-form
  ></ng-container>

  <ng-container *ngIf="editFormEnabled"
    ><app-cu-form
      [formControlDescriptors]="editFormControlDescriptors"
      [submitButtonText]="'Modifica'"
      (submitFormEvent)="editMovement($event)"
      (cancelFormEvent)="onCancelEditForm()"
    ></app-cu-form
  ></ng-container>
</div>
